<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Head html</title>
</head>
<body>
<div class="container p-2 m-2 bg-info">
    <div class="row text-center">
        <div class="col-12 text-center">
            <h1 class="text-center text-info">Students list</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody th: each="student : ${students}">
            <tr>
                <td th:text="${student.id}"></td>
                <td th:text="{student.getName()}"></td>
                <td th:text="{student.getEmail()}"></td>
                <td th:text="{student.getCourse()}"></td>
                <td th:text="{student.getAge()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>